.grid-3x2{
    margin: 2em auto; 
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap:  2em;
   grid-row-gap: 2em;
   max-width: 1080px;
}

.grid-2x2{
    margin: 2em auto; 
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap:  2em;
   grid-row-gap: 2em;
   max-width: 1080px;
}

.header-2{
  text-align: center;
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 28px;
color: #1A233B;
}

.text-center{
    text-align: center;
}

.padding-50 {
  padding: 4em;
}

.linkView{

font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;

text-decoration-line: underline;

color: #0460BA;
}

.block{
    display: block;
}

.grid-container-digital{
    max-width: 521px;
    max-height: 363px;
    background: #FFFFFF;

border-radius: 6px;

}

.center-content{
  margin: 20px auto;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  
}

.card-image {
max-width: 378px;
height: 220px;
margin: 25px auto;
}

.card-header{
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 30px;

color: #1A233B;

}
.shadow-1{
  filter: drop-shadow(0px 2px 23px rgba(26, 35, 59, 0.423569));
}

.shadow-2{
  
  filter: drop-shadow(0px 2px 23px rgba(26, 35, 59, 0.423569));
}

.shadow-3{
  filter: drop-shadow(0px 2px 23px rgba(26, 35, 59, 0.423569));
}

.shadow-4{
  filter: drop-shadow(0px 2px 23px rgba(26, 35, 59, 0.423569));
}