.grid-3 {
    margin: 2em auto; 
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-column-gap: 10px;
   grid-row-gap: 1em;
   max-width: 1080px;
   justify-items: center;
   align-items: center;
}

.grid-5 {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 1em
}


.grid-3::after{
    height: 60px;
} 