.footer-wrapper {
    max-width: 1440px;
max-height: 690px;
background: #1A233B;

}
.Item{
font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-align: start;
color: #FFFFFF;
padding: 6px;
}

.grey {
    color: #78829C;
}

.footer-end {
    display: block;
    font-family: Nunito Sans;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
border-top: 1px solid rgba(255, 255, 255, 0.118089);
padding-top: 30px;
margin: 20px;
}